{% extends "layout.html" %}
{% block body %}
    <div class="page-header">
        <h1>Job Queue</h1>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Job Name</th>
            <th>Next Run</th>
            <th>Trigger</th>
        </tr>

        {% for job in jobs %}
            <tr>
                <td class="col-lg-7">{{ job.name }}</td>
                <td class="col-lg-2">{{ job.trigger.get_next_fire_time(None, now).strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td class="col-lg-3">{{ job.trigger }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}